body{
	background: url('../images/back.png');
	background-size: 100% 100%;
	background-attachment:fixed ;
}

.container-nav{
	background: rgba(255, 255, 255, .3);
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom-left-radius: 10px; 
	border-bottom-right-radius: 10px;
}

.container-fluid:nth-child(2){
	margin-top: 40px;
}

.dropdown-menu{
	background-color: transparent;
}

form{
	margin-top: 60px;
}

/* form p{
	display: block;
	margin: 12px
} */

/* .group-input{
	margin-bottom: 20px;
} */

.input-group-text{
	border-radius: 0px;
}

i{
	padding: 10px;
}

.d-inline-block div{
	margin-top: 180px;
	color: white;
}

input[ type = 'submit']{
	display: block;
	margin: 0px auto;
	width: 50%;
}

input[ type = 'date']{
	color: lightgray;
}

.container-image{
	margin-top:13%;position: relative;right:65px
}

img{
	width: 130%;
}

a{
	display: block;
}